extends ../layout/main

//- block variables
//-   - var title = 'My blog';

block content
  section
    +item('item title', 'item descr')
    +item('item title', 'item descr')
    +item('item title', 'item descr')