extends ../layout/main

block content
  section
    +record('Запись №1', 'record.html', 'Статья про ежиков')
    +record('Запись №2', 'record.html', 'Статья про мотоциклы')
    +record('Запись №3', 'record.html', 'Статья про JS')
    +record('Запись №4', 'record.html', 'Статья про Элвиса')
    .carousel-pl#sl1
    .carousel-pl#sl2