extends ../layout/main

block variables
  - var urlList=["https://picsum.photos/300/300?grayscale", "https://picsum.photos/300/300?grayscale", "https://picsum.photos/300/300?grayscale"]

block content
  section
    +record('Запись №1', 'record.html', 'Статья про ежиков')
    +record('Запись №2', 'record.html', 'Статья про мотоциклы')
    +record('Запись №3', 'record.html', 'Статья про JS')
    +record('Запись №4', 'record.html', 'Статья про Элвиса')
    +carousel(urlList)