.carousel-pl {
    margin: rem(20);
    position: relative;
    display: block;
  
    .carousel-pl__inner  {
      display: flex;
      flex-direction:row;
      align-items: flex-start;
      justify-content: center;
  
      .carousel-pl__item {
        display: none;
      }

      .carousel-pl__active {
        display: block;
      }

      .carousel-pl__control-prev-icon {
        background-image: url("../../assets/img/icon-left.png");
        height: 50px;
        width: 50px;  
      }

      .carousel-pl__control-next-icon {
        background-image: url("../../assets/img/icon-right.png");
        height: 50px;
        width: 50px;  
      }      
    }
  }
